

header {

  padding: 10px;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
 
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  text-decoration: none; 
  
}

.search-box {
  margin-right: 100px;
  color: #1E2833;
}




a {
  color: #1E2833;
  margin-left: 80px;
  text-decoration: none;
  &.active {
    font-weight: bold;
  }
}
.books-list {
  padding: 20px;
}
.add-book {
  padding: 20px;
}

.App {
  text-align: center;
  margin-top: 20px;
  width: 259px;
}

.books-list {
  padding: 20px;
}

.book-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.book-card {
  max-width: 259px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  justify-content: center; /* Centraliza horizontalmente */
}

.book-card img {
  width: 90%;
  object-fit: cover;
  padding: 15px;
  justify-content: center;
}

.book-details {
  padding: 20px;
}

.book-details h3 {
  margin-bottom: 10px;
}

.genre-button {
  border: 1px solid #007bff;
  color: #007bff;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.publication-date {
  color: #007bff;
  float: right; /* Para alinhar à direita */
}

footer {
  height: 200px;
  background-color: #1E2833;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo-footer {
  margin-bottom: 70px;
  margin-left: 70px;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 10px;
  float: right;
 
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-top: 80px;
  align-items: flex-start;
  cursor: pointer;
}

.hr-footer {
  margin: 50px auto; 
  width: 100%;
  border: none; 
  border-top: 1px solid #ccc; 
}

.social-icons {
  display: flex;
  margin-top: 80px;
  margin-right: 100px;
}

.social-icons svg {
  margin-left: 10px;
}